.carousel-item i {
    color: #343a40;
    margin-bottom: 10px;
}

.carousel-item p {
    font-size: 1.2rem;
    color: #6c757d;
}
#iconCarousel .carousel-item div {
    text-align: center;
    color: white;
}

#iconCarousel i {
    color: white;
    margin-bottom: 5px;
}

#iconCarousel p {
    font-size: 0.9rem;
    margin: 0;
}
.card-img-top {
    height: 200px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Asegura que las imágenes se recorten proporcionalmente */
}